html,
body {
	padding: 0;
	margin: 0;

	--blackish: #101010;
	--black: #000;
	--white: #fff;
	--white-transparency: rgba(255, 255, 255, 0.75);

	--font-text: "Poppins", sans-serif;

	--cursor-normal: url('/img/cursor/pixel/tile_0168.png'), auto;
	--cursor-poiner: url('/img/cursor/pixel/tile_0137.png'), auto;
	--cursor-text: url('/img/cursor/pixel/tile_0140.png'), auto;

	cursor: var(--cursor-normal);
	font-family: var(--font-text);
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, span, label {
	cursor: var(--cursor-text);
}

button, a {
	cursor: var(--cursor-poiner);
}

input {
	cursor: var(--cursor-text);
	font-family: var(--font-text);
	height: 2rem;
	box-sizing: border-box;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid var(--blackish);
	border-radius: 0.25rem;
	width: 100%;
}

.button {
	height: 2.5rem;
	box-sizing: border-box;
	margin: 0;
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--font-text);
	text-align: center;
	gap: 0.5rem;
	border: 1px solid var(--blackish);
	border-radius: 0.5rem;
	background-color: var(--blackish);
	color: var(--white);
	cursor: var(--cursor-poiner);
}
.button:hover {
	background-color: var(--black);
	color: var(--white);
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	object-fit: scale-down;
}
.invert {
	filter: invert(1);
}
[aria-label][data-balloon-pos] {
	cursor: var(--cursor-poiner);
}
