@font-face {
	font-family: '7tA114RsvV';
	src: url('/font/destroy.ttf')
}

html,
body {
	padding: 0;
	margin: 0;

	--blackish: #101010;
	--black: #000;
	--white: #fff;
	--white-transparency: rgba(255, 255, 255, 0.75);

	--font-text: "Poppins", sans-serif;
	--font-karty-bez-cenzury: '7tA114RsvV', sans-serif;

	--cursor-normal: url('/img/cursor/pixel/tile_0168.png'), auto;
	--cursor-pointer: url('/img/cursor/pixel/tile_0137.png'), auto;
	--cursor-text: url('/img/cursor/pixel/tile_0140.png'), auto;
	--cursor-not-allowed: url('/img/cursor/pixel/tile_0015.png'), auto;

	cursor: var(--cursor-normal);
	font-family: var(--font-text);
	font-weight: 400;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, span, label {
	cursor: var(--cursor-text);
}

button, a {
	cursor: var(--cursor-pointer);
}

input, select {
	cursor: var(--cursor-text);
	font-family: var(--font-text);
	height: 2rem;
	box-sizing: border-box;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid var(--blackish);
	border-radius: 0.25rem;
	width: 100%;
}

select {
	padding: 0 .25rem;
}

select, option {
	cursor: var(--cursor-pointer);
}

input:disabled, select:disabled {
	cursor: var(--cursor-not-allowed);
}

.button {
	height: 2.5rem;
	box-sizing: border-box;
	margin: 0;
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--font-text);
	text-align: center;
	gap: 0.5rem;
	border: 1px solid var(--blackish);
	border-radius: 0.5rem;
	background-color: var(--blackish);
	color: var(--white);
	cursor: var(--cursor-pointer);
	text-decoration: none;
}
.button:hover {
	background-color: var(--black);
	color: var(--white);
}

.button.button--loading, .button.button--loading:hover {
	color: transparent;
	position: relative;
}
.button.button--loading::after {
	content: '';
	display: block;
	position: absolute;
	width: 1.2rem;
	height: 1.2rem;
	border: 2px solid white;
	border-radius: 50%;
	border-top-color: transparent;
	animation: rotate 1s linear infinite;
}
.button.button--loading img {
	opacity: 0;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.button--social, .button--social:hover {
	background: none;
	border: none;
	padding: 0;
	opacity: 0.8;
}
.button--social:hover {
	opacity: 1;
}
.button--social img {
	width: 3rem;
	height: 3rem;
	object-fit: scale-down;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	object-fit: scale-down;
}
.invert {
	filter: invert(1);
}
[aria-label][data-balloon-pos] {
	cursor: var(--cursor-pointer);
}

.button[disabled] {
	background-color: var(--blackish);
	color: var(--white-transparency);
	cursor: var(--cursor-not-allowed);
}
